*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.bg{
    /* background: url("https://picsum.photos/seed/picsum/200/300") no-repeat center center/cover; */
    background: url("blury-image.jpg") no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    height: calc(100vh + 60px);
    width: calc(100vw + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: #fff;
}
